Repository hmcts/send-letter-service-container-new, pull requests merged in 2021-04, with the labels that each got.

#2 DTSBPS-493: For NEW container configure KEDA trigger
  Jenkinsfile_CNP
  build.gradle
  charts/rpe-send-letter-service-container-new/Chart.yaml
  charts/rpe-send-letter-service-container-new/values.preview.template.yaml
  charts/rpe-send-letter-service-container-new/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-2

#3 DTSBPS-493: For NEW container configure KEDA trigger handler classes
  build.gradle
  charts/rpe-send-letter-service-container-new/Chart.yaml
  config/pmd/ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/reform/sendletter/ApplicationTest.java
  src/main/java/uk/gov/hmcts/reform/sendletter/Application.java
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessor.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/sendletter/controllers/SmokeTestController.java
  src/test/java/uk/gov/hmcts/reform/sendletter/DemoUnitTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessorTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-3

#7 Use latest chart-function
  .gitignore
  charts/rpe-send-letter-service-container-new/Chart.yaml
  charts/rpe-send-letter-service-container-new/values.preview.template.yaml
  charts/rpe-send-letter-service-container-new/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-7

#9 use the non-beta function chart version
  charts/rpe-send-letter-service-container-new/Chart.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-9

#10 Syncs master with perftest and demo on deploy to prod
  Jenkinsfile_CNP
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-10

#8 Dtsbsp 429 blob reader
  .gitignore
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobManager.java
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobReader.java
  src/main/java/uk/gov/hmcts/reform/sendletter/config/StorageConfiguration.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobManagerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobReaderTest.java
  src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-8

#11 DTSBSP:517: fix blob reader code smell in test
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobManagerTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-11
