Repository hmcts/send-letter-service-container-new, pull requests merged in 2021-04, with the labels that each got.

#9 DTSBPS-484: Enabling jenkins build
  build.gradle
  charts/rpe-send-letter-service-container-new/Chart.yaml
  charts/rpe-send-letter-service-container-new/values.yaml
  src/main/java/uk/gov/hmcts/reform/sendletter/Application.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sendletter/DemoUnitTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-9

#10 DTSBPS-484: rename name in chart.yaml
  charts/rpe-send-letter-service-container-new/Chart.yaml
  docker-compose.yml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-10

#12 DTSBPS-484: adding smoke test placeholder
  build.gradle
  src/smokeTest/java/uk/gov/hmcts/reform/sendletter/controllers/SmokeTestController.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-12
