Repository hmcts/send-letter-service-container-new, pull requests merged in 2021-05, with the labels that each got.

#12 DTSBPS-523: Stitching function - copy original blob to backup container
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobBackup.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobBackupTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-12

#14 Update function chart which had a bug
  charts/rpe-send-letter-service-container-new/Chart.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-14

#15 Use new chart to fix issue
  charts/rpe-send-letter-service-container-new/Chart.yaml
  charts/rpe-send-letter-service-container-new/values.preview.template.yaml
  charts/rpe-send-letter-service-container-new/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-15

#13 DTSBPS-523: Stitching function - copy original blob to backup container
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessorTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-13

#16 DTSBPS-523: Stitching function - copy original blob to backup container
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobBackup.java
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobManager.java
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobReader.java
  src/main/java/uk/gov/hmcts/reform/sendletter/config/AccessTokenProperties.java
  src/main/java/uk/gov/hmcts/reform/sendletter/exceptions/ServiceConfigNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/sendletter/exceptions/UnableToGenerateSasTokenException.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/SasTokenGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobBackupTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobManagerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobReaderTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/SasTokenGeneratorServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-16

#17 DTSBPS-523: Stitching function - copy original blob to backup container
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobBackup.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/SasTokenGeneratorService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sendletter/services/SasTokenGeneratorServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-17

#18 DTSBPS-523: Stitching function - copy original blob to backup container
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobBackup.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-18

#19 Adds config item for new container name
  src/main/java/uk/gov/hmcts/reform/sendletter/config/AccessTokenProperties.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/SasTokenGeneratorService.java
  src/main/resources/application.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-19

#21 DTSBPS-523: added httpclient in storage service client
  src/main/java/uk/gov/hmcts/reform/sendletter/config/StorageConfiguration.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/SasTokenGeneratorServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-21

#22 Append SAS token to source blob url for copyFrom
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobBackup.java
  src/main/java/uk/gov/hmcts/reform/sendletter/services/SasTokenGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobBackupTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-22

#23 DTSBPS-523: removed httpclient in storage service client
  src/main/java/uk/gov/hmcts/reform/sendletter/config/StorageConfiguration.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobBackupTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-23

#24 DTSBPS-523: code coverage
  src/main/java/uk/gov/hmcts/reform/sendletter/services/SasTokenGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/sendletter/services/SasTokenGeneratorServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-24

#25 Adds triggers for all service containers manifest files only
  charts/rpe-send-letter-service-container-new/Chart.yaml
  charts/rpe-send-letter-service-container-new/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-25

#26 Dtsbsp 517 reading blob v2
  build.gradle
  data/staging-area.txt
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobBackup.java
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobManager.java
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobReader.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/Document.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/ManifestBlobInfo.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/PrintJob.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/PrintResponse.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/PrintStatus.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/PrintUploadInfo.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobBackupTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobManagerTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobReaderTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/model/in/ManifestBlobInfoTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/model/in/PrintResponseTest.java
  src/test/resources/print_job_response.json
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-26

#27 DTSBPS-517: Reader and backup blobs
  src/main/java/uk/gov/hmcts/reform/sendletter/config/StorageConfiguration.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-27

#28 Dtsbsp 517 blob reader v4
  data/staging-area.txt
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobBackup.java
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobReader.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobBackupTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobReaderTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-28

#29 DTSBPS-517: Reader and backup blobs
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobBackup.java
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobReader.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobBackupTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobReaderTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-29

#30 DTSBPS-517: Fix jackson datatime format error
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/PrintJob.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-30

#31 DTSBPS-517: Fix jackson datatime format error
  src/main/java/uk/gov/hmcts/reform/sendletter/model/in/PrintJob.java
  src/main/resources/application.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-31

#33 DTSBPS-588: stopping delete original blob - to test lease client
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobStitch.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessorTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-33

#35 DTSBPS-592: Configure new bulk-print test container
  src/main/resources/application.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-35

#34 DTSBPS-588: added lease client to prevent same blob to process again.
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/storage/LeaseClientProvider.java
  src/main/java/uk/gov/hmcts/reform/sendletter/config/StorageConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessorTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-34

#36 DTSBPS-592: Configure new bulk-print test container
  charts/rpe-send-letter-service-container-new/Chart.yaml
  charts/rpe-send-letter-service-container-new/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-36

#37 DTSBPS-588: Enable delete blob from source container
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessorTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-37

#38 DTSBPS-588: Fix - deletion of leased blob client.
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobBackup.java
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobStitch.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobStitchTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-38

#39 DTSBPS-588: Fix - deletion of leased blob client.
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessorTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-39

#40 DTSBPS-588: Fix - deletion of leased blob client.
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessor.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-40

#41 DTSBPS-588: Fix - blob reader
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobReader.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessorTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-41

#42 Dtsbps 588 fix blob reader v3
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobStitch.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobBackupTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-42

#44 DTSBPS-588: added test for exception
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessor.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-44

#45 DTSBPS-588: bumped chart version
  charts/rpe-send-letter-service-container-new/Chart.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-45

#47 Reduce activeDeadlineSeconds to 5 minutes
  charts/rpe-send-letter-service-container-new/Chart.yaml
  charts/rpe-send-letter-service-container-new/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-47

#48 Increment
  charts/rpe-send-letter-service-container-new/Chart.yaml
  charts/rpe-send-letter-service-container-new/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-48

#49 DTSBPS-588: enable Aks Staging Deployment
  Jenkinsfile_CNP
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-49

#50 Set the image id correctly in staging
  charts/rpe-send-letter-service-container-new/values.aat.template.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-50

#51 Dtsbsp 588 add parallel reading blob
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobReader.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-51

#53 DTSBPS-588: added autodelete completed pods
  charts/rpe-send-letter-service-container-new/Chart.yaml
  charts/rpe-send-letter-service-container-new/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-53

#54 DTSBPS-429: Pick the next blob if the current blob is leased
  src/main/java/uk/gov/hmcts/reform/sendletter/Application.java
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobDelete.java
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobReader.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobReaderTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-54

#55 DTSBPS-429: fix pdf filename
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobStitch.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-new-pr-55
